* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #d0f0fd, #ffe5d9, #ffffff);
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #1e3a8a;
  padding: 18px 10%;
  display: flex;
  justify-content: center;
  gap: 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background: #f0f9ff;
  color: #1e3a8a;
  transform: scale(1.05);
}

.navbar a.active {
  background: #ffb3a7;
  color: #1e3a8a;
}

/* PROJECTS SECTION */
.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #1e3a8a;
}

.card {
    background: #fff5f3;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
    font-size: 24px;
    color: #1e3a8a;
    margin-bottom: 15px;
}

.card ul {
    margin-left: 20px;
    line-height: 1.7;
    color: #334155;
}
