* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #ffd4e0, #ffe7d8, #ffffff);
  padding-top: 90px;
}



/* NAVBAR */
header {
  width: 100%;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 45px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #4d2d73;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: #4d2d73;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  color: black;
  transform: scale(1.07);
}



/* INTRO SECTION */
.intro-section {
  padding: 40px 10%;
  text-align: center;
}

.intro-card {
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0px 6px 22px rgba(0,0,0,0.1);
}

.intro-card h1 {
  font-size: 36px;
  margin-bottom: 15px;
  color: #333;
}



/* COURSE DETAILS */
.course-section {
  padding: 50px 10%;
  display: flex;
  justify-content: center;
}

.course-card {
  background: white;
  padding: 30px;
  width: 380px;
  border-radius: 18px;
  box-shadow: 0 6px 22px rgba(0,0,0,0.1);
  text-align: center;
}

.course-card h2 {
  margin-bottom: 10px;
}



/* ABOUT SECTION */
.about-section {
  padding: 60px 10%;
  text-align: center;
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-section p {
  max-width: 850px;
  margin: 12px auto;
  line-height: 1.7;
}



/* PROJECT SECTION */
.project-section {
  padding: 70px 10%;
  text-align: center;
}

.project-section h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.project-desc {
  max-width: 900px;
  margin: 0 auto 25px;
  line-height: 1.7;
  color: #444;
}

.github-btn {
  background: #4d2d73;
  color: white;
  padding: 12px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 25px;
}

.github-btn:hover {
  background: #341c58;
}

.business-list {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}

.business-item {
  background: white;
  padding: 12px 18px;
  margin: 8px 0;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
}



/* TEAM SECTION */
.team {
  padding: 70px 10%;
  text-align: center;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-card {
  background: white;
  width: 260px;
  padding: 25px;
  border-radius: 18px;
  text-align: left;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1);
}
